
.form { 
    width: 50%;
    background-color:#87a96b;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;
    margin-bottom: 0.5rem;
}

.form-Field{
    margin: 1rem 0;
    display: flex;
}

.form-Field-label {
    flex-basis: 20%;
}

.form-Field-input {
    flex-basis: 80%;
    border-radius: 0.60rem;
    padding: 0.80rem;
    box-sizing: border-box;
}

.form-Field-textarea {
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.60rem;
    padding: 1rem;
    box-sizing: border-box;
}

.form button {
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    padding: 0.4rem;
    box-sizing: border-box;

}

.form button:hover {
    background-color:orange;
    color: white;
}